.container {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
  position: relative;
  float: left;
  z-index: 0;
  overflow: hidden;
}
